{% extends "admin/base_site.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}" sizes="48x48"/>
{% endblock %}
{% block content %}
    <div class="row" style="width: 100%!important">
        <div class="col-lg-4">
            <ul>
                <li>Nome: {{ object.nome }}</li>
                <li>Espécie: {{ object.especie }}</li>
                <li>Cor: {{ object.cor|default:'Não informado' }}</li>
                <li>Sexo: {{ object.sexo }}</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul>
                <li>Tamanho: {{ object.tamanho }}</li>
                <li>Data de cadastro: {{ object.data_cadastro }}</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul>
                <li>Castrado: {{ object.castrado|default:'Não informado' }}</li>
                <li>Vacinado: {{ object.vacinado|default:'Não informado' }}</li>
                <li>Situação: {{ object.get_situacao_display }}</li>
            </ul>
        </div>
        <div class="col-lg-12">
            <ul>
                <li>Observações: {{ object.observacoes|default:'Não informado' }}</li>
            </ul>
        </div>
    </div>
    <div class="w-100">
        <div class="mb-2">{{ despesas }}</div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/sweetalert2.js' %}"></script>
{% endblock %}