{{ add_button }}
<table class="table table-bordered w-100">
    <thead>
    <tr>
        <th>Código</th>
        <th>Valor</th>
        <th>Valor pendente</th>
        <th>Data</th>
        <th>Data referência</th>
        <th>status</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>{{ object.id }}</td>
            <td>R${{ object.valor|floatformat:2 }}</td>
            <td>R${{ object.get_valor_pendente|floatformat:2}}</td>
            <td>{{ object.data }}</td>
            <td>{{ object.data_referencia}}</td>
            <td>{{ object.status }}</td>
            <td><a target="_blank" href={% url 'admin:pet_despesa_change' object.id %}><i title = 'Editar' class ='fa fa-2x fa-edit'> </i> </a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
