<div class="card">
    <div class="card-header" id="headingOne">
        <div class="row">
            <div class="col-lg-11">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse"
                            data-target="#{{ collapse_id|default:'card-collapse' }}"
                            aria-expanded="true"
                            aria-controls="{{ collapse_id|default:'card-collapse' }}">
                        {{ title }}
                    </button>
                </h5>
            </div>
            <div class="col-lg-1 mt-1">
                <h5>{{ card_actions }}</h5>
            </div>
        </div>
    </div>

    <div id="{{ collapse_id|default:'card-collapse' }}" class="collapse {{ open|yesno:'show,' }}"
         aria-labelledby="headingOne">
        <div class="card-body">
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>
    </div>
</div>