{{ add_button }}
<table class="table table-bordered w-100">
    <thead>
    <tr>
        <th>Código</th>
        <th>Valor</th>
        <th>Data e hora</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>{{ object.id }}</td>
            <td>R${{ object.valor|floatformat:2 }}</td>
            <td>{{ object.data_hora}}</td>
            <td><a target="_blank" href={% url 'admin:pet_despesapagamento_change' object.id %}><i title = 'Editar' class ='fa fa-2x fa-edit'> </i> </a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

